*{
    padding: 0;
    margin: 0;
    list-style: none;
}

/** 
font-family: 'Russo One', sans-serif; 
font-family: 'Jomolhari', serif;
**/

.padre{
    display: flex;
    flex-flow: column wrap;
    font-family: 'Russo One', sans-serif;
    background-color: rgba(0, 0, 0, 0.88);
}
.logo{
    height: 100px;
    float: left;
    margin: 30px 0px 0px 30px;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 150px;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: calc(0.5em + 1vw);
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: red 0 -2px;
}
nav ul li a{
    margin: 30px;
    color: aliceblue;
}

main{
    background-color: rgb(34, 9, 9);
    height: 78vh;
    background-image: url(../img/fondo.webp);
    background-size:cover;
    background-repeat: no-repeat;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row;
}

.fotoControlRoom{
    display: flex;
    width: 60%;
    border-radius: 40px;
}
.fotoPin{
    display: flex;
    width: 60%;
    border-radius: 40px;
    justify-content: right;
}
h1{
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: 'Russo One', sans-serif;
    font-size: calc(0.09em + 2vw);
    text-shadow: red 0 -2px
    margin 130px;
}
.redes{
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    background-color: blue;
}


#instagram{
    width: 80px;
    /*position: absolute;
    top: 700px;
    left: 790px;*/
}
#youtube{
    width: 122px;
    /*position: absolute;
    top: 685px;
    left: 900px;*/
}
#whatsapp{
    width: 82px;
    border-radius: 10px;
    /*position: absolute;
    top: 700px;
    left: 1052px;*/
}

footer{
    display: flex;
    justify-content: right;
    height: 63px;
    background-color: rgba(0, 0, 0, 0.88);
    color: aliceblue;
}
footer p{
    font-size: calc(0em + 1vw);
    padding: 20px 30px 0px 0px;
    text-shadow: red 0 -2px;
}

/* HOOVER */
.link a{
    text-decoration: none;
    position: relative;
}

.link a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: rgb(255, 30, 30);
    /*animacion de derecha a izquierda*/
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}
.link a:hover:after {1
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
}

form{
    background-color: brown;
    width: 1000px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}
.nombre{
    border-radius: 20px;
}
.tituloContacto{
    background-color: rgb(34, 9, 9);
    height: 450px;
}